pipeline/file_name.json
{
	"name": "file_name",
	"properties": {
		"activities": [
			{
				"name": "GetFileName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Camhomeinputs",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "IterationFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileName').output.itemName",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "filecopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"value": ""
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FtpReadSettings",
										"recursive": true,
										"useBinaryTransfer": false,
										"deleteFilesAfterCompletion": true,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"maxConcurrentConnections": 10,
										"copyBehavior": "FlattenHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Camhomeinputs",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Camhomeout",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().itemName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}